{% extends "layout.html" %}

{% block content %}
{% import "_macros.html" as macros %}

    <form action="" method="POST" novalidate>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{macros.camposNuevos(form.x1, class='form-control')}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{macros.camposNuevos(form.y1, class='form-control')}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{macros.camposNuevos(form.x2, class='form-control')}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{macros.camposNuevos(form.y2, class='form-control')}}
            </div>
        </div>
        
        <button type="submit" id="btn1" name="btn1" class="btn btn-primary">Registrar</button>
    </form>

        <p>Distancia: {{distancia}}</p>
        <p>x1: {{x1}}</p>
        <p>y1: {{y1}}</p>
        <p>x2: {{x2}}</p>
        <p>y2: {{y2}}</p>
{%endblock%}