{% extends "layout.html" %}
{% block content %}
{% import "_macros3.html" as macros %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <form action="/arch" method="POST">
          <input type="hidden" name="action" value="guardar" />
          <div class="form-group">
            <label for="ingles">Inglés:</label>
            <input type="text" class="form-control" id="ingles" name="ingles" value="">
          </div>
          <div class="form-group">
            <label for="esp">Español:</label>
            <input type="text" class="form-control" id="esp" name="esp" value="">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Guardar palabras</button>
        </form>
      </div>
      <div class="col-md-6">
        <form action="/arch" method="POST">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="idioma" id="idioma_ingles" value="ingles" checked>
              <label class="form-check-label" for="idioma_ingles">
                Inglés
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="idioma" id="idioma_espanol" value="espanol">
              <label class="form-check-label" for="idioma_espanol">
                Español
              </label>
            </div>
          <input type="hidden" name="action" value="buscar" />
          <div class="form-group">
            <label for="buscar">Buscar:</label>
            <input type="text" class="form-control" id="buscar" name="buscar" value="">
          </div>
          <br>  
          <button type="submit" class="btn btn-primary">Buscar palabra</button>
          <div class="resultado mt-3">{{resultado}}</div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
